In [2]:
import pandas as pd
import numpy as np
df=pd.read_csv("C://AVADHUT//Academic//DSBDA//DSBDA_CD_Zip//DSBDA//airquality.csv")
# df.columns = ["Age", "Sex", "ChestPain", "RestBP", "Chol", "Fbs", "RestEcg", "MaxHR", "ExAng", "PldPeak", "Slop", "CA", "Thai", "ADH"]
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017,71.36,115.75,1.75,20.65,12.40,12.19,0.10,10.76,109.26,0.17,5.92,0.10,NaN,NaN
1,AP001,25-11-2017,81.40,124.50,1.44,20.50,12.08,10.72,0.12,15.24,127.09,0.20,6.50,0.06,184.0,Moderate
2,AP001,26-11-2017,78.32,129.06,1.26,26.00,14.85,10.28,0.14,26.96,117.44,0.22,7.95,0.08,197.0,Moderate
3,AP001,27-11-2017,88.76,135.32,6.60,30.85,21.77,12.91,0.11,33.59,111.81,0.29,7.63,0.12,198.0,Moderate
4,AP001,28-11-2017,64.18,104.09,2.56,28.07,17.01,11.42,0.09,19.00,138.18,0.17,5.02,0.07,188.0,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,27-06-2020,8.65,16.46,NaN,NaN,NaN,NaN,0.69,4.36,30.59,1.32,7.26,NaN,50.0,Good
108031,WB013,28-06-2020,11.80,18.47,NaN,NaN,NaN,NaN,0.68,3.49,38.95,1.42,7.92,NaN,65.0,Satisfactory
108032,WB013,29-06-2020,18.60,32.26,13.65,200.87,214.20,11.40,0.78,5.12,38.17,3.52,8.64,NaN,63.0,Satisfactory
108033,WB013,30-06-2020,16.07,39.30,7.56,29.13,36.69,29.26,0.69,5.88,29.64,1.86,8.40,NaN,57.0,Satisfactory
108034,WB013,01-07-2020,10.50,36.50,7.78,22.50,30.25,27.23,0.58,2.80,13.10,1.31,7.39,NaN,59.0,Satisfactory

In [3]:
df.isnull().sum()

StationId         0
Date              0
PM2.5         21625
PM10          42706
NO            17106
NO2           16547
NOx           15500
NH3           48105
CO            12998
SO2           25204
O3            25568
Benzene       31455
Toluene       38702
Xylene        85137
AQI           21010
AQI_Bucket    21010
dtype: int64

In [4]:
df.fillna(df.mean(), inplace=True)
df

C:\Users\Avdhut Jagtap\AppData\Local\Temp\ipykernel_9568\3921218131.py:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.fillna(df.mean(), inplace=True)

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017,71.36,115.75,1.750000,20.65000,12.400000,12.190000,0.10,10.76,109.26,0.17,5.92,0.100000,179.74929,NaN
1,AP001,25-11-2017,81.40,124.50,1.440000,20.50000,12.080000,10.720000,0.12,15.24,127.09,0.20,6.50,0.060000,184.00000,Moderate
2,AP001,26-11-2017,78.32,129.06,1.260000,26.00000,14.850000,10.280000,0.14,26.96,117.44,0.22,7.95,0.080000,197.00000,Moderate
3,AP001,27-11-2017,88.76,135.32,6.600000,30.85000,21.770000,12.910000,0.11,33.59,111.81,0.29,7.63,0.120000,198.00000,Moderate
4,AP001,28-11-2017,64.18,104.09,2.560000,28.07000,17.010000,11.420000,0.09,19.00,138.18,0.17,5.02,0.070000,188.00000,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,27-06-2020,8.65,16.46,23.123424,35.24076,41.195055,28.732875,0.69,4.36,30.59,1.32,7.26,2.423446,50.00000,Good
108031,WB013,28-06-2020,11.80,18.47,23.123424,35.24076,41.195055,28.732875,0.68,3.49,38.95,1.42,7.92,2.423446,65.00000,Satisfactory
108032,WB013,29-06-2020,18.60,32.26,13.650000,200.87000,214.200000,11.400000,0.78,5.12,38.17,3.52,8.64,2.423446,63.00000,Satisfactory
108033,WB013,30-06-2020,16.07,39.30,7.560000,29.13000,36.690000,29.260000,0.69,5.88,29.64,1.86,8.40,2.423446,57.00000,Satisfactory
108034,WB013,01-07-2020,10.50,36.50,7.780000,22.50000,30.250000,27.230000,0.58,2.80,13.10,1.31,7.39,2.423446,59.00000,Satisfactory

In [5]:
df.drop_duplicates(inplace=True)
df

,StationId,Date,PM2.5,PM10,NO,NO2,NOx,NH3,CO,SO2,O3,Benzene,Toluene,Xylene,AQI,AQI_Bucket
0,AP001,24-11-2017,71.36,115.75,1.750000,20.65000,12.400000,12.190000,0.10,10.76,109.26,0.17,5.92,0.100000,179.74929,NaN
1,AP001,25-11-2017,81.40,124.50,1.440000,20.50000,12.080000,10.720000,0.12,15.24,127.09,0.20,6.50,0.060000,184.00000,Moderate
2,AP001,26-11-2017,78.32,129.06,1.260000,26.00000,14.850000,10.280000,0.14,26.96,117.44,0.22,7.95,0.080000,197.00000,Moderate
3,AP001,27-11-2017,88.76,135.32,6.600000,30.85000,21.770000,12.910000,0.11,33.59,111.81,0.29,7.63,0.120000,198.00000,Moderate
4,AP001,28-11-2017,64.18,104.09,2.560000,28.07000,17.010000,11.420000,0.09,19.00,138.18,0.17,5.02,0.070000,188.00000,Moderate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108030,WB013,27-06-2020,8.65,16.46,23.123424,35.24076,41.195055,28.732875,0.69,4.36,30.59,1.32,7.26,2.423446,50.00000,Good
108031,WB013,28-06-2020,11.80,18.47,23.123424,35.24076,41.195055,28.732875,0.68,3.49,38.95,1.42,7.92,2.423446,65.00000,Satisfactory
108032,WB013,29-06-2020,18.60,32.26,13.650000,200.87000,214.200000,11.400000,0.78,5.12,38.17,3.52,8.64,2.423446,63.00000,Satisfactory
108033,WB013,30-06-2020,16.07,39.30,7.560000,29.13000,36.690000,29.260000,0.69,5.88,29.64,1.86,8.40,2.423446,57.00000,Satisfactory
108034,WB013,01-07-2020,10.50,36.50,7.780000,22.50000,30.250000,27.230000,0.58,2.80,13.10,1.31,7.39,2.423446,59.00000,Satisfactory

In [14]:
df1=df.iloc[:7,:3]
df2=df.iloc[:7,2:5]
mergeData=pd.merge(df1,df2)
mergeData

  StationId        Date  PM2.5    PM10    NO
0     AP001  24-11-2017  71.36  115.75  1.75
1     AP001  25-11-2017  81.40  124.50  1.44
2     AP001  26-11-2017  78.32  129.06  1.26
3     AP001  27-11-2017  88.76  135.32  6.60
4     AP001  28-11-2017  64.18  104.09  2.56
5     AP001  29-11-2017  72.47  114.84  5.23
6     AP001  30-11-2017  69.80  114.86  4.69

In [22]:
concat_data = pd.concat([df1,df2],axis=0,ignore_index=True)
concat_data

   StationId        Date  PM2.5    PM10    NO
0      AP001  24-11-2017  71.36     NaN   NaN
1      AP001  25-11-2017  81.40     NaN   NaN
2      AP001  26-11-2017  78.32     NaN   NaN
3      AP001  27-11-2017  88.76     NaN   NaN
4      AP001  28-11-2017  64.18     NaN   NaN
5      AP001  29-11-2017  72.47     NaN   NaN
6      AP001  30-11-2017  69.80     NaN   NaN
7        NaN         NaN  71.36  115.75  1.75
8        NaN         NaN  81.40  124.50  1.44
9        NaN         NaN  78.32  129.06  1.26
10       NaN         NaN  88.76  135.32  6.60
11       NaN         NaN  64.18  104.09  2.56
12       NaN         NaN  72.47  114.84  5.23
13       NaN         NaN  69.80  114.86  4.69

In [23]:
#Data Transformation
result=np.sqrt(df['O3'])
result

0         10.452751
1         11.273420
2         10.836974
3         10.574025
4         11.754999
            ...
108030     5.530823
108031     6.240994
108032     6.178187
108033     5.444263
108034     3.619392
Name: O3, Length: 108035, dtype: float64

In [24]:
result=np.cbrt(df['O3'])
result

0         4.780651
1         5.027713
2         4.897097
3         4.817557
4         5.169895
            ...
108030    3.127470
108031    3.389762
108032    3.366981
108033    3.094754
108034    2.357348
Name: O3, Length: 108035, dtype: float64

In [25]:
result=np.square(df['O3'])
result

0         11937.7476
1         16151.8681
2         13792.1536
3         12501.4761
4         19093.7124
             ...
108030      935.7481
108031     1517.1025
108032     1456.9489
108033      878.5296
108034      171.6100
Name: O3, Length: 108035, dtype: float64

In [26]:
result=np.log(df['O3'])
result

0         4.693730
1         4.844895
2         4.765928
3         4.716801
4         4.928557
            ...
108030    3.420673
108031    3.662279
108032    3.642050
108033    3.389125
108034    2.572612
Name: O3, Length: 108035, dtype: float64

In [28]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, classification_report, ConfusionMatrixDisplay,confusion_matrix
X = df.drop('AQI_Bucket', axis=1)
y = df['AQI_Bucket']
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)
classifier = DecisionTreeClassifier()
classifier.fit(X_train,y_train)

ValueError: could not convert string to float: 'KA011'